.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

.item{
    position: relative;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 20px !important;
}

.trash{
    color: red;
    position: absolute;
    top: 2rem;
    right: 10rem;
    bottom: 0;
    font-size: 25px !important;
}
.edit{
    color: lightblue;
    position: absolute;
    top: 2rem;
    right: 15rem;
    bottom: 0;
    font-size: 25px !important;
}